# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
# Compiled Static libraries
*.lai
*.la
*.a
# CMake
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
# rtiddsgen
Neuron/code/control/idl/*.cxx
Neuron/code/control/idl/*.h
Neuron/code/control/acp/idl/*.cxx
Neuron/code/control/acp/idl/*.h
Neuron/code/control/ecp/idl/*.cxx
Neuron/code/control/ecp/idl/*.h
Neuron/code/control/scp/idl/*.cxx
Neuron/code/control/scp/idl/*.h
Neuron/code/control/lscp/idl/*.cxx
Neuron/code/control/lscp/idl/*.h
Neuron/code/media/idl/*.cxx
Neuron/code/media/idl/*.h
Neuron/code/media/entity_info_idl/*.cxx
Neuron/code/media/entity_info_idl/*.h
Neuron/code/tools/ubrain/*.cxx
# General
bin/
lib/
rel/
dbg/
Release/
Debug/
a.out
core
# System related
*.swp
*.tmp
.project
# Specific Neuron oddities
Neuron/code/html_doxygen/
Neuron/code/include/oolua/
Neuron/code/neuroncommon/netlib/curl/include/curl/curlbuild.h
Neuron/code/control/Makefile
Neuron/code/neuroncommon/Makefile
Neuron/code/sf/Makefile
Neuron/code/tools/DemoEndpoint/Makefile
Neuron/code/tools/ubrain/Makefile
Neuron/code/neuroncommon/netlib/curl/Makefile
Neuron/code/neuroncommon/netlib/curl/src/Makefile
Neuron/code/neuroncommon/netlib/curl/src/Makefile.inc.cmake
Neuron/code/neuroncommon/netlib/curl/tests/Makefile
Neuron/code/neuroncommon/netlib/curl/tests/libtest/Makefile
Neuron/code/neuroncommon/netlib/curl/tests/server/Makefile
Neuron/code/neuroncommon/oolua/Makefile
Neuron/code/neuroncommon/oolua/oolua.make
Neuron/code/neuroncommon/oolua/file_generator/Makefile
Neuron/code/neuroncommon/oolua/profile/Makefile
Neuron/code/neuroncommon/oolua/unit_tests/*.make
Neuron/code/neuroncommon/oolua/unit_tests/string_is_integral/Makefile
Neuron/code/neuroncommon/oolua/unit_tests/tests_may_fail/Makefile
/0001-Commit-for-integration-with-Sean.patch
