/* --- main layout --- */
	
	* { margin: 0; padding: 0; }
	
	body { font-family: Tahoma, Geneva, sans-serif; font-size: medium; color:#9b9b9b; background:#212121; padding:0; margin:0;}
	
	a img,:link img,:visited img,fieldset {border:none;}
	img {vertical-align: top;}
	
	.clear {clear:both}
	.nowrp {white-space:nowrap;}
	.container {width:100%; overflow:hidden;}

/* --- END main layout --- */

/* --- header --- */

	#header { background: black; text-align: center; color: white; vertical-align: middle; font-size: 2.0em;}
        #header2 {padding: 20px 20px;}

/* --- END header --- */

/* --- content --- */

	#content {text-align: center; color: black; font-size: 0.75em; min-height: 300px; background: #ffffff; line-height:1em;} 
        .content {padding: 5px 20px 0px 20px; min-width:200px;}
        #content ul{ list-style-type: none; padding: 0; margin-left: 0;}
                
        #contacts {text-align: center; color: black; font-size: 1.5em; min-height: 300px; background: #ffffff; line-height:1em;}
        
        #b0 { width: 30%; margin-left: auto; margin-right: auto; display: table; height: 400px; overflow: hidden; }
        #b1 {display: table-cell; vertical-align: middle;}
        #b2 {}
        
        #tslider {min-height: 250px; text-align: center; color: black; font-size:0.75em; background: #ffffff; }
        .tslider {padding: 5px 20px 0px 20px; min-width:200px;}
        #tslider ul{ list-style-type: none; padding: 0 30px; margin-left: 10px; margin-right: 10px;}
/*        #tslider vlce2{ padding: 10px 10px 10px 10px; margin-left: 30;} 
*/

/* --- END content --- */

/* --- footer --- */
	
	#footer {background: black; font-size:1.125em; padding:0 20px;}

/* --- END footer --- */

/* --- Other --- */
	
/* --- END Other --- */


