/.config
/.version
/avconv
/avconv.d
/avconv_g
/cmdutils.d
/config.fate
/config.h
/config.log
/config.mak
/ffmpeg
/ffmpeg.d
/ffmpeg_g
/ffprobe
/ffprobe.d
/ffprobe_g
/ffserver
/ffserver.d
/ffserver_g
/version.h
